/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  --bg: #fcfcfc;
  --bg-panel: #EBEBEB;
  --color-headings: #0077FF;
  --color-text: #333333;
}
html[data-theme='dark'] {
  --bg: #191414;
  --bg-panel: #434343;
  --color-headings: #1DB954;
  --color-text: #b5b5b5;
}
html,
body {
  font-size: 62.5%;
  font-family: "Questrial", sans-serif;
  background-color: var(--bg);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Questrial", sans-serif;
  color: var(--color-headings);
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
/* toggle button */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  left: -10px;
}
@media (min-width: 1023px) {
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    left: 130px;
  }
}
label:after {
  content: "";
  position: absolute;
  top: 1.25px;
  left: 2.5px;
  width: 22.5px;
  height: 22.5px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
@media (min-width: 1023px) {
  label:after {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 5px;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
}
input:checked + label {
  background: #0077FF;
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
label:active:after {
  width: 20px;
}
@media (min-width: 1023px) {
  label:active:after {
    width: 40px;
  }
}
/* toggle button */
#blacklogo {
  display: none;
}
#topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  background-color: var(--bg);
  position: sticky;
  top: 0;
}
@media (min-width: 1023px) {
  #topnav {
    padding: 15px;
  }
}
#topnav img {
  width: 120px;
}
@media (min-width: 1023px) {
  #topnav img {
    width: 200px;
  }
}
#topnav a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding-right: 14px;
  color: var(--color-text);
}
#topnav a:hover {
  color: var(--color-headings);
}
@media (min-width: 1023px) {
  #topnav a {
    width: 200px;
    font-size: 23px;
  }
}
#container {
  background: white;
}
.one {
  text-align: center;
  height: 766px;
  width: 100%;
}
.one .image-back {
  background-image: url("DesktopBack.jpg");
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}
@media (min-width: 1023px) {
  .one .image-back {
    width: 100%;
  }
}
.one h1 {
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
}
.two {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  height: 813px;
  background-color: var(--bg-panel);
}
@media (min-width: 1023px) {
  .two {
    height: 770px;
  }
}
.two .box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--color-text);
  background-color: var(--bg-panel);
  width: 151px;
  height: 290px;
  margin: 0 8px;
  color: #333333;
  text-align: center;
}
.two .box .b {
  margin-top: -10px;
}
@media (min-width: 1023px) {
  .two .box .b {
    margin-top: -20px;
  }
}
.two .box .tablet {
  display: none;
}
.two .box h3 {
  font-size: 14px;
  line-height: 19px;
  margin-top: 12px;
}
.two .box p {
  font-size: 10px;
  line-height: 12px;
  color: var(--color-text);
}
.two .box img {
  margin: 0 0 10px 0;
}
@media (min-width: 1023px) {
  .two .box img {
    margin-left: 10px;
  }
}
@media (min-width: 1023px) {
  .two .box {
    width: 404px;
    height: 339px;
  }
  .two .box .mobile {
    display: none;
  }
  .two .box .tablet {
    display: inherit;
  }
  .two .box h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 19px;
  }
  .two .box p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
  }
  .two .box img {
    margin: 0 0 10px 0;
  }
}
.two .a {
  width: 151px;
  height: 232px;
  margin: 0 8px;
  margin-top: -250px;
  color: #333333;
  text-align: center;
}
.two .a h3 {
  font-size: 14px;
  line-height: 19px;
  margin-top: -10px;
}
.two .a p {
  font-size: 10px;
  line-height: 12px;
}
@media (min-width: 1023px) {
  .two .a {
    width: 404px;
    height: 339px;
    margin-top: -50px;
  }
  .two .a h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .two .a p {
    font-size: 18px;
    line-height: 22px;
  }
}
