#devs{
    display: flex; 
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

    .box{
        margin: 5rem auto;
        justify-content: center;
        padding: 1rem;

        h2{
            font-size: 5rem;
            padding: 1rem;
        }

        p{
            font-size: 3rem;
        }

        a{
            text-decoration: none;
            color: @spotGreen;
            font-size: 3rem;
            padding: 1rem;

            &:hover, &:focus{
                color: @dayColor;
            }
        }
    }
    .help{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 90%;
        flex-direction: column;-
    }
}
